button{
    border: transparent;
}
.btn {
    margin-top: 3px;
    text-align: center;
}
.d-grid{
    margin-top: 5px;
    text-align: center;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.24);
}
#ButtonAnPro{
     margin-top: 5px;
    text-align: center;
    
    margin-top: 50px;
}
#ButtonAnte{
    margin-left: 5px;
}
#containerQuestion{
    margin-left: 8px;
}
.buttonEntProva{
    border:blue;
    
    cursor: pointer;

}
